<table>
    <tr>
        <td>
            <button [disabled]="dBvsechnaTeorie" (click)="button_vsechnaTeorie()">{{!dBvsechnaTeorie}}</button>
            {{vsechnaTeorie}}
        </td>
    </tr>
    <tr>
        <td>
            <button [disabled]="dBvypisTeorie" (click)="button_vypisTeorii()">{{!dBvypisTeorie}}</button>
            {{vypisTeorie}}
            <input #inVypisTeorie>
        </td>
    </tr>
    <tr>
        <td>
            <form [formGroup]="vytvareniUzivatele" (ngSubmit)="button_vytvorUzivatele()">
                <label>Název</label>
                <input type="text" name="name" formControlName="name">
                <label>Teorie</label>
                <input type="text" name="teorie_json" formControlName="teorie_json">
                <button type="submit">Poslat!</button>
            </form>
            {{vytvorUzivatele}}
        </td>
    </tr>
    <tr>
        <td>
            <form [formGroup]="aktualizovatUzivatele" (ngSubmit)="button_updateUzivatele()">
                <label>Id</label>
                <input type="text" name="id" formControlName="id">
                <label>Název</label>
                <input type="text" name="name" formControlName="name">
                <label>Teorie</label>
                <input type="text" name="teorie_json" formControlName="teorie_json">
                <button type="submit">Poslat!</button>
            </form>
            {{aktualizovatTeorii}}
        </td>
    </tr>
    <tr>
        <td>
            <button [disabled]="dBsmazatTeorie" (click)="button_smazatTeorii()">{{!dBsmazatTeorie}}</button>
            <input #smazatTeorii>
            {{smazatTeorie}}
        </td>
    </tr>
</table>