$color1: rgb(240, 95, 95);
$color2: rgb(255, 255, 255);
$color3: rgb(255, 245, 245);

.mainContent{
    background-color: rgba($color1,.1);
    animation: animaceZapnuti 1s;
    border: solid $color1;
    border-top: none;
    border-radius: 0 0 6px 6px;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    width: fit-content;
    padding: 7px;
}
.table{
    border-collapse: collapse;
}
@keyframes animaceZapnuti {
    0% {opacity: 0};
    100% {opacity: 1};
}
.bottom{
    padding: 5px;
    border: $color1 solid;
    background-color: $color3;
    float: left;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}