<div class="mainContent">
    <mat-tab-group >
        <mat-tab label="Přidávání slovíček">
            <table mat-table [dataSource]="vsechna_slovicka">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let slovicka">{{slovicka.name}}</td>
                </ng-container>
                <ng-container matColumnDef="idsSlovicek">
                    <th mat-header-cell *matHeaderCellDef>Přidat slovíčka</th>
                    <th mat-cell *matCellDef="let slovicka"><button mat-flat-button (click)="posliDoSeznamu(slovicka._id)">Přidat</button></th>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="tabulka1_nastaveni"></tr>
                <tr mat-row *matRowDef="let row; columns: tabulka1_nastaveni;"></tr>
            </table>
        </mat-tab>
        <mat-tab label="Slovíčka">
            <table class="table">
                <tr>
                    <td>
                        <ul>
                            <mat-list *ngFor="let sez of list2_seznamSlovicek; index as i">
                                <mat-list-item>{{i+1}}) {{sez.name}}</mat-list-item>
                            </mat-list>
                        </ul>
                    </td>
                </tr>
            </table>
        </mat-tab>
        <mat-tab label="Zvolení hry">
            <mat-button-toggle-group [formControl]="gameMode" *ngFor="let mod of modes">
                <mat-button-toggle value="{{mod}}">{{mod}}</mat-button-toggle>
            </mat-button-toggle-group>
            <div>Vybrána hra: {{gameMode.value}}</div>
        </mat-tab>
      </mat-tab-group>

    <div class="bottom">
        <button mat-raised-button [disabled]="zjisti()" (click)="pokracuj()">Pokračovat</button>
    </div>

</div>


