<form [formGroup]="prihlaseni" (ngSubmit)="prihlasit()">
    <label>Email</label>
    <input type="email" name="Email" formControlName="email">
    <label>Heslo</label>
    <input type="password" name="Password" formControlName="password">
    <button type="submit">Přihlásit se!</button>
</form>

<form [formGroup]="registrovani" (ngSubmit)="registrovat()">
    <label>Jméno</label>
    <input type="text" name="Name" formControlName="name">
    <label>Email</label>
    <input type="email" name="Email" formControlName="email">
    <label>Heslo</label>
    <input type="password" name="Password" formControlName="password">
    <button type="submit">Přihlásit se!</button>
</form>