<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
        <button ngbNavLink (click)="nabidka_1='nic'; reset()">Zpět</button>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
    <li ngbNavItem [disabled]="nabidka_1=='aktualizace'">
      <button ngbNavLink (click)="nabidka_1='vytvor'">Vytváření slovíček</button>
      <ng-template ngbNavContent>
        <form [formGroup]="vytvareniSlovicka" (ngSubmit)="button_vytvorSlovicka()">
            <mat-form-field>
                <mat-label>Název slovíček</mat-label>
                <input matInput type="text" name="name" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Jazyk</mat-label>
                <input matInput type="text" name="jazyk" formControlName="jazyk">
            </mat-form-field>
            <button mat-raised-button type="submit">Vytvořit</button>
        </form>
      </ng-template>
    </li>
    <li ngbNavItem [disabled]="nabidka_1=='vytvor'">
      <button ngbNavLink (click)="nabidka_1='aktualizace'">Aktualizování slovíček</button>
      <ng-template ngbNavContent>
        <!-- <form *ngIf="start_editing" [formGroup]="aktualizovatSlovicka" (ngSubmit)="button_updateSlovicka()">
            <mat-form-field>
                <mat-label>Aktualizovat název</mat-label>
                <input matInput type="text" name="name" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Aktualizovat jazyk</mat-label>
                <input matInput type="text" name="jazyk" formControlName="jazyk">
            </mat-form-field> -->
        <!-- </form> -->
      <button (click)="button_updateSlovicka()" mat-raised-button type="submit">Aktualizovat</button>
        <div *ngIf="!start_editing">
            <button mat-flat-button (click)="button_vsechnaSlovicka()">Seznam vytvořených slovíček</button>
            <table>
                <tr *ngFor="let slovicko of vsechnaSlovicka">
                    <td>
                        <h3>{{slovicko.name}}</h3>
                    </td>
                    <td>
                        <tr>
                            <button mat-flat-button color="accent" (click)="vytvor_aktualizuj(slovicko._id); start_editing=true">Aktualizovat</button>
                        </tr>
                        <tr>
                            <button mat-flat-button color="warn" (click)="button_smazatSlovicka(slovicko._id)">Smazat</button>
                        </tr>
                    </td>
                </tr>
            </table>
        </div>
      </ng-template>
    </li>
  </ul>
<div [ngbNavOutlet]="nav"></div>

<table *ngIf="nabidka_1!='nic'">
    <tr>
        <td *ngIf="nabidka_1!='nic'">
            <tr>Počet slovíček: {{slovicka.length}}</tr>
            <tr *ngIf="start_editing">id: {{id}}</tr>
        </td>
        <td>
            <tr><button mat-button color="primary" *ngIf="start_editing==true" (click)="reset()">Zrušit editování</button></tr>
        </td>
    </tr>
    <tr>
        <td *ngIf="start_editing==true || nabidka_1=='vytvor'">
            <tr *ngFor="let slovicko of slovicka; index as i">
                <td>
                    [{{slovicko.first}}] to [{{slovicko.second}}]
                </td>
                <td>
                    <button mat-raised-button *ngIf="!slovicko_input" (click)="slovicko_input_arr = i;slovicko_input = !slovicko_input">upravit</button>
                </td>
            </tr>
            <tr *ngIf="slovicko_input">
                <td><input #_first [value]="slovicka[slovicko_input_arr].first"></td>
                <td><input #_second [value]="slovicka[slovicko_input_arr].second"></td>
                <button mat-flat-button color="primary" (click)="slovicko_input = !slovicko_input; slovicka[slovicko_input_arr] = {first:_first.value,second:_second.value};">Save</button>
                <button mat-flat-button color="warn" (click)="slovicko_input = !slovicko_input; slovicka.splice(slovicko_input_arr,1)">Remove</button>
            </tr>
            <tr>
                <button mat-flat-button (click)="slovicko_input_arr = slovicka.length; slovickoAdd(); slovicko_input = !slovicko_input">Další slovíčko</button>
            </tr>
        </td>
    </tr>
</table>