<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h3>Přihlášení</h3>
    <mat-form-field>
        <mat-label>Zadej svůj email</mat-label>
        <input autocomplete="email" matInput placeholder="jmeno.prijmeni@sps-prerov.cz" [formControl]="email" formControlName="email" required>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Zadej svoje heslo</mat-label>
        <input autocomplete="current-password" matInput type='password' [formControl]="password"  formControlName="password" required>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-error>{{error}}</mat-error>
    <button [disabled]="loginForm.invalid" mat-raised-button type="submit">Přihlásit se!</button>
</form>