<button mat-raised-button *ngIf="!start_editing" (click)="start_editing=true;addData(true)">Začít tvořit svoje slovíčka</button>
<div *ngIf="start_editing">
    <button mat-raised-button (click)="addData(false);start_editing=false">Zpět</button>
    <form [formGroup]="vytvareniSlovicka" (ngSubmit)="vytvorCelaSlovicka()">
        <mat-form-field>
            <mat-label>Název slovíček</mat-label>
            <input matInput type="text" name="name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Jazyk</mat-label>
            <input matInput type="text" name="jazyk" formControlName="jazyk">
        </mat-form-field>
        <button mat-raised-button type="submit">Vytvořit</button>
    </form>
    
    <app-slovicka-edit></app-slovicka-edit>
</div>
