$color1: rgb(245, 150, 150);

@keyframes loading {
    0%{opacity: 0;}
    100%{opacity: 1;}    
}
.mainContent{
    animation: loading forwards 0.5s ;
    background-color: rgba($color1,.1);
    border: solid $color1;
    border-top: none;
    border-radius: 0 0 6px 6px;
}