
            <h1 #h1 class="spravne">
                {{zjisTiSlovicko(frs,scnd)
                ?" Správně! - ["+ frs + "] - [" + scnd + "]"
                :"["+ frs + "] - [" + scnd + "]"
            }}
            </h1>
<div [ngSwitch]="ready">
    <div *ngSwitchCase="0">
        <h1>Načítá se hra...</h1>
    </div>
    <div *ngSwitchCase="1">
        <div class="herni-pole flex">
            <div class="grid">
                <button mat-button *ngFor="let slovicko of first_array" (click)="frs = slovicko">{{slovicko}}</button>
            </div>
            <div class="grid">
                <button mat-button *ngFor="let slovicko of second_array" (click)="scnd = slovicko">{{slovicko}}</button>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="2">
        <h1>Konec</h1>
        <a router>Opakovat</a>
        <button routerLink="/hry">Zpět procvičovat</button>
        <button routerLink="/home">Domů</button>
    </div>
</div> 
