<div [ngSwitch]="ready">
    <div *ngSwitchCase="0">
        <h1>Načítá se</h1>
    </div>
    <div *ngSwitchCase="1">
        <h1 #h1 class="spravne">
            {{zjisTiSlovicko(frs,scnd)
            ?" Správně! - ["+ frs + "] - [" + scnd + "]"
            :"["+ frs + "] - [" + scnd + "]"
        }}
        </h1>
        <div class="max">
            <mat-grid-list cols="{{first_array.length/4}}" rowHeight="5em">
                <mat-grid-tile *ngFor="let slovicko of first_array">
                    <button mat-button (click)="frs = slovicko">{{slovicko}}</button>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="{{second_array.length/4}}" rowHeight="5em">
                <mat-grid-tile *ngFor="let slovicko of second_array">
                    <button mat-button (click)="scnd = slovicko">{{slovicko}}</button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div *ngSwitchCase="2">
        <h1>Konec</h1>
        <a router>Opakovat</a>
        <button routerLink="/hry">Zpět procvičovat</button>
        <button routerLink="/home">Domů</button>
    </div>
</div> 